<dx-scheduler
    id="scheduler"
    [dataSource]="appointments"
    textExpr="title"
    [(currentDate)]="currentDate"
    currentView="timelineMonth"
    timeZone="America/Sao_Paulo"
    [groups]="['workerId']"
    maxAppointmentsPerCell="unlimited"
    resourceCellTemplate="workerTemplate"
    dateCellTemplate="dateCellTemplate"
    (onAppointmentClick)="toNull($event)"
    (onAppointmentDblClick)="toNull($event)">

        <dxi-view name="2 Months"
            type="timelineMonth"
            [intervalCount]="2">
        </dxi-view>

        <dxi-resource
            fieldExpr="workerId"
            [allowMultiple]="false"
            [dataSource]="workers"
            label="Worker"
        ></dxi-resource>

        <div class="content-worker" *dxTemplate="let data of 'workerTemplate'">
            <i style="color: blue">{{data.text}} - {{ data.id }}</i>
            <button (click)="alert(data.id)"></button>
        </div>

        <div *dxTemplate="let date of 'dateCellTemplate'">
            <b style="color: green">{{date.text}}</b>
        </div>

        <dxo-editing
            [allowResizing]="false"
            [allowDragging]="false"
            [allowTimeZoneEditing]="false">
        </dxo-editing>
</dx-scheduler>
